$font-size-base: 1rem; /*gefunden in _variables.scss*/ 
$primary:#fed136;

$section-padding:120px;
$header-jumbotron-height: 450px;
/* definiere eigenschaft*/
@import "bootstrap-4.4.1/scss/bootstrap";
.page-header{
    background-image: url("images/header-bg.jpg");
    background-size:cover; /*passt größe an*/
    background-repeat:no-repeat;
}
.navbar-dark .navbar-brand{
    padding-top: 0.15rem;
    color: $primary;
    font-style:italic;
}
.header-jumbotron{
    background-color: transparent;
    color: white;
    padding-top: 0px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    /* das ganze soll über flexbox gesteuert werden*/
    height:$header-jumbotron-heigt;

    @include media-breakpoint-up(sm){
        height:$header-jumbotron-height +50px;
    }
    @include media-breakpoint-up(md){
        height:$header-jumbotron-height +100px;
    }
    @include media-breakpoint-up(lg){
        height:$header-jumbotron-height +150px;
    }
    h5{
        font-style:italic;
        margin-bottom:10px;
        margin-top:10px;
    }
    h4{
        margin-bottom:30px;
    }
}
.services{
    padding-top:$section-padding;
    padding-bottom: $section-padding;
}
/* flexboxen nutzen, da sie flexibler sind. passen sich besser an*/